
.modal-title {
    color: #e5840d;
}

.editProfile img {
    filter: invert(100%);
    padding: 5px;
}

.editProfile {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 40px;
    background-color: #ffa900;
}

.editProfile:hover {
    box-shadow: -5px 5px 10px rgb(146, 146, 146);
    cursor: pointer;
    background-color: #e5840d;
    outline: none;
}

.editProfile:active {
    outline: none;
}
.editProfile:focus {
    outline: none;
}

.modal-body input {
    border: none;
    border-bottom: 1px solid #89d9e9;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.modal-body input:focus {
    box-shadow: none;
    outline: none;
}

.modal-body textarea {
    border: 1px solid #89d9e9;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
}

.modal-body textarea:focus {
    outline: none;
}

.modal-footer button:first-child {
    background-color: #ffa900;
    border: #ffa900;
}

.modal-footer button:first-child:hover {
    background-color: #e5840d;
}

.modal-footer button:last-child {
    background-color: #013a4d;
    border: #013a4d;
}

.modal-footer button:last-child:hover {
    background-color: #025875;
}

.new-text-post-modal .modal-content {
    margin-top: 300px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;    
}

.new-image-post-modal .modal-content {
    margin-top: 300px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 500px;    
}

.new-video-post-modal .modal-content {
    margin-top: 300px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;    
}

.edit-profile-modal .modal-content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 500px;
    overflow-y: scroll;
    margin-top: 60%;
    z-index: 10;
    padding: 10px;
}

#modal-header {
    height: 20%;
    padding: 3%;
}

.new-text-post-modal #modal-header h4 {
    position: absolute;
    top: 10px;
}

#modal-footer {
    height: 20%;
    padding: 4%;
}

.edit-profile-modal .modal-header h4 {
    position: absolute;
    top: 0px;
    padding-top: 1.5%;
}
.profileImagePreviewContainer {
    text-align: center;
}

.profileImagePreview {
    width: 30%;
}

imagePostPreviewContainer {
    text-align: center;
}



