.feed {
    text-align: center;
    position: relative;
}

.feedContainer {
    margin-top: 80px;
}

.feed a:hover {
    text-decoration: none;
}

.feed a h3:hover {
    color: #ff9c00;
}

.text {
    text-align: left;
    margin-bottom: 20px;
}


.type {
    text-align: right;
}

.date {
    text-align: left;
}

.postContainer {
    margin-top: 100px;
    background-color: white;
    margin: 20px;
    border-radius: 3px;
    padding: 20px 20px 5px 20px;
    box-shadow: 1px 1px 4px rgb(121, 121, 121);
}

/*NEW POST BUTTONS*/

.initialNewPost {
    position: fixed;
    bottom: 20px;
    right: 80px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ff9c00;
    border: none;
    box-shadow: 0px 5px 10px rgb(128, 127, 127);
}

.initialNewPost:hover {
    background-color: #e48500;
}

.initialNewPost img {
    width: 40px;
    filter: invert(100%);
}

.newTextPost {
    position: fixed;
    bottom: 110px;
    right: 85px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(238, 29, 29);
    border: none;
    box-shadow: 0px 5px 10px rgb(128, 127, 127);
}

.newTextPost:hover {
    background-color: rgb(207, 3, 3);
}

.newTextPost img {
    width: 30px;
    filter: invert(100%);
}

.newImagePost {
    position: fixed;
    bottom: 190px;
    right: 85px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(71, 184, 71);
    border: none;
    box-shadow: 0px 5px 10px rgb(128, 127, 127);
}

.newImagePost:hover {
    background-color: rgb(33, 161, 33);
}

.newImagePost img {
    width: 30px;
    filter: invert(100%);
}

.newVideoPost {
    position: fixed;
    bottom: 270px;
    right: 85px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(36, 177, 177);
    border: none;
    box-shadow: 0px 5px 10px rgb(128, 127, 127);
}

.newVideoPost:hover {
    background-color: rgb(0, 158, 158);
}

.newVideoPost img {
    width: 35px;
    filter: invert(100%);
}

.modalButtons button:focus { 
    outline: none;
    outline-color: none;
}

.modalButtons button:active {
    outline: none;
    outline-color: none;
}

.deleteBtn {
    position: relative;
    top: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(247, 31, 31);
    border: none;
}

.deleteBtn:hover {
    background-color: rgb(223, 17, 17);
    cursor: pointer;
}

.deleteBtn img {
    width: 25px;
}

/*****************/

/*FILTER POSTS*/

.selectpicker {
    position: fixed;
    bottom: 30px;
    left: 85px;
    border: none;
    background-color: rgb(54, 154, 248);
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
}

.selectpicker:hover {
    background-color: rgb(9, 129, 241);
    cursor: pointer;
}

.selectpicker option {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(14, 65, 109);
}


/***************/