.loginFormDiv {
    border: 1px solid black;
}

body {
    background-image: url("https://www.planwallpaper.com/static/images/518086-background-hd.jpg");
}
.welcomePage {
    color: white;
    position: relative;
    top: 200px;
}
.loginForm input {
    padding: 10px;
    border-radius: 5px 0 5px 0;


}
.loginForm button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid blue;
    font-weight: 800;
    font-size: 18px;
}
.loginButtons button {
    padding: 10px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid grey;
    
    
}
.loginForm {
    position: relative;
    top: 150px;
    color: white;
    font-size: 18px;
    font-weight: 700;
   
}
.loginForm input:active {
    border: 2px solid blue;
   

}


.error {
    color: red;
}
